---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/layout.astro';

const pages = await getCollection('ghostPages');
---
<Layout title="Basic">
    { pages.splice(0, 2).map((page) => (
        <div>
            <h2>{ page.data.title }</h2>
            <p>{ page.data.excerpt }</p>
        </div>
    ))}
</Layout>